* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas {
  display: block;
}
body{
  position:relative;
}
.menu{
  padding:1em;
  position:absolute;
  top:0;
  left:0;
  display:flex;
}
.menu > div{
  width:28px;
  height:28px;
  border:1px solid #999;
  border-radius:50%;
  margin-right:10px;
  cursor: pointer;
}
.menu .black{
  background:black;
}
.menu .red{
  background:red;
}
.menu .orange{
  background:orange;
}
.menu .green{
  background:green;
}
.menu .purple{
  background:purple;
}